@font-face {
    font-family: 'geomanist';
    src: url('geomanist-book-webfont.woff2') format('woff2'),
         url('geomanist-book-webfont.woff') format('woff');
    font-style: normal;

}

@font-face {
    font-family: 'geomanist-bold';
    src: url('geomanist-bold-webfont.woff2') format('woff2'),
         url('geomanist-bold-webfont.woff') format('woff');
    font-style: normal;
}

@font-face {
    font-family: 'geomanist-medium';
    src: url('geomanist-medium-webfont.woff2') format('woff2'),
         url('geomanist-medium-webfont.woff') format('woff');
    font-style: normal;
}