@font-face {
    font-family: 'geomanist';
    src: url('geomanist-bold-webfont.woff2') format('woff2'),
         url('geomanist-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'geomanist';
    src: url('geomanist-medium-webfont.woff2') format('woff2'),
         url('geomanist-medium-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'geomanist';
    src: url('geomanist-regular-webfont.woff2') format('woff2'),
         url('geomanist-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'geomanist';
    src: url('geomanist-light-webfont.woff2') format('woff2'),
         url('geomanist-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}